
div(id="main")
  div(class="container")
    div(class="col-md-12")
      h1(class="hero-text") Online Schooling. Streamlined.
      h2(class="hero-subheader") Help students with extra-curricular learning via ThinkLink!
    div: img(src="/images/learning.png")